<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="book" class="com.example.HW15_Spring.Book">
        <property name="name" value="Alisa in the wonder world"/>
        <property name="author" ref="author"/>
    </bean>

    <bean id="book1" class="com.example.HW15_Spring.Book">
        <property name="name" value="Yellow Submarine"/>
        <property name="author" ref="author"/>
    </bean>

    <bean id="author" class="com.example.HW15_Spring.Author">
        <property name="name" value="Ivan"/>
        <property name="books">
            <list>
                <ref bean="book"/>
                <ref bean="book1"/>
            </list>
        </property>
    </bean>

    <bean id="lib" class="com.example.HW15_Spring.Library">
        <property name="name" value="LIB01"/>
        <property name="city" value="Zhytomyr"/>
        <property name="authors">
            <list>
                <ref bean="author"/>
            </list>
        </property>
        <property name="books">
            <list>
                <ref bean="book"/>
            </list>
        </property>
    </bean>

</beans>
